name: Java-CI

on: [push, workflow_dispatch]
# https://adc.github.trendmicro.com/shawn-zheng/incubator-superset/blob/d5a3355dc2b5cfc06499f313bae9685237b123e3/.github/workflows/license-check.yml

jobs:
  ci-job:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    # combination of various linters
    # help validate your source code
    - name: Super-Linter
      uses: github/super-linter@v4
      env:
        VALIDATE_ALL_CODEBASE: false # scan change parts
        DEFAULT_BRANCH: master
        GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
        VALIDATE_JAVA: true # java
        VALIDATE_DOCKERFILE: true

    - name: Test with Gradle
      run: gradle test

    - name: Publish unit test results
      uses: EnricoMi/publish-unit-test-result-action@v1
      if: always()
      with:
        files: 'build/test-results/test/*.xml'
        report_individual_runs: "true"

    # - name: Initialize CodeQL
    #   uses: github/codeql-action/init@v1
    #   with:
    #     languages: java

    # - run: javac -d classes src/main/java/tw/codedata/Hello.java

    - name: Build with Gradle
      run: gradle build
      # /build/classes/java/main/tw/codedata/Hello.class

    # - name: Perform CodeQL Analysis
    #   uses: github/codeql-action/analyze@v1
    
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.4
      with:
        name: artifact
        path: .

    - name: Docker Hub login
      uses: azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker Image
      run: docker build . -t ${{ secrets.DOCKER_USERNAME }}/janedockerrepo:${{ github.sha }}

    - name: Push Docker Image to Registry
      run: docker push ${{ secrets.DOCKER_USERNAME }}/janedockerrepo:${{ github.sha }}
